<!DOCTYPE html>
<html lang="en">

<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Tristan IOT</title>

		<!-- Bootstrap Core CSS -->
		<link href="/public/css/homepage.css" rel="stylesheet">
		<!-- Custom CSS -->
		<style>
		body {
				padding-top: 70px;
				/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
		}
		</style>

</head>

<body>


	<ul class="navbar">
		<li><a id=home href="#home">Tristan</a></li>
		<li><a href="#News">Outlets</a></li>
		<li><a href="#contact">Placeholder</a></li>
		<li><a href="#about">Debug</a></li>
	</ul>
	

	<div class="center">
		<h1>Tristan-IOT Homepage<h1>
	</div>

		<div class="simple-buttons">
				<p style = "text-align: center">
				<button id='rainbow' style="background-color: cyan">Rainbow</button>
				<button id='rainbowCycle' style="background-color: orange">Rainbow Cycle</button>
				<button id='strobe' style="background-color: yellow">Strobe</button>
				<button id='tbd' style="background-color: purple">TBD</button>
				<button id='START' style="background-color: red">START</button>
				</p>
		</div>
		<div class=simple-buttons>
				<p style="text-align: center">
				<button id='debug' style="background-color: green">Ἀχιλῆος</button>
				<button id='rainbowCycle' style="background-color: orange">Πηληϊάδεω</button>
				<button id='strobe' style="background-color: yellow">οὐλομένην</button>
				<button id='TBD' style="background-color: purple">ἐρίσαντε</button>
				<button id='TBD' style="background-color: red">προΐαψεν</button>
				</p>
		</div>
		<table class="sliders">			
			<tr>
				<td>Speed</td>
				<td><input id="speedSlider" type="range" min="0" max="100" step="1" data-orientation="horizontal"></td>
				<td id="speedSliderValue" class="sliderValue">100</td>
			</tr>
			<tr>
				<td>Brightness</td>
				<td><input id="brightnessSlider" type="range" min="0" max="100" step="1" data-orientation="horizontal"></td>
				<td><div id="brightnessSliderValue" class="sliderValue">100</div></td>
			</tr>		
		</table>

		<table class=outletController>
			<tr>
				<td><button id='outlet-1-on'>1 On</button></td>
				<td><button id='outlet-1-off'>1 Off</button></td>
			</tr>
			<tr>
				<td><button id='outlet-2-on'>2 On</button></td>
				<td><button id='outlet-2-off'>2 Off</button></td>
			</tr>
			<tr>
				<td><button id='outlet-3-on'>3 On</button></td>
				<td><button id='outlet-3-off'>3 Off</button></td>
			</tr>
			<tr>
				<td><button id='outlet-4-on'>4 On</button></td>
				<td><button id='outlet-4-off'>4 Off</button></td>
			</tr>
			<tr>
				<td><button id='outlet-5-on'>5 On</button></td>
				<td><button id='outlet-5-off'>5 Off</button></td>
			</tr>
		</table>
		<!-- /.row -->
		<!-- /.container -->

		<!-- jQuery Version 1.11.1 -->
		<script src="/public/js/jquery.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="/public/js/bootstrap.min.js"></script>
		<script src="/public/js/rangeslider.js"></script>
		<script src="/public/js/homepage.js"></script>

</body>

</html>
